#app{

padding-top:120px;

}

html{

height:100%;

}

body{

font-family:var(--font-main);

overflow-x:hidden;

transition:

background var(--slow),

color var(--slow);

}

body.loading{

overflow:hidden;

}

#navbar{

position:fixed;

top:0;

left:0;

width:100%;

height:var(--navbar-height);

z-index:9999;

}

#background{

position:fixed;

inset:0;

pointer-events:none;

overflow:hidden;

z-index:-1;

}

#app{

padding-top:var(--navbar-height);

min-height:100vh;

}

.container{

width:min(

100% - 40px,

var(--container)

);

margin-inline:auto;

}

.section{

padding:

80px

0;

}

.hidden{

display:none;

}

.page{

    opacity:0;

    transform:translateY(20px);

    pointer-events:none;

    transition:

        opacity .35s,

        transform .35s;

}

.page.active{

    opacity:1;

    transform:none;

    pointer-events:auto;

}